html{
	font-family: 'Georgia', Times, Times New Roman, serif;
	
}

body {
	background-image: url('../images/cork-wallet.png')
}

h1{
	font-size: 40px;
	padding-top: 20px;
}

.logo{
	background-color: #4aaaa5;
	color:  white;
	width: 350px;
	height:80px;
	text-align: center;
	float: left;
	margin-left: 200px;
	margin-top: 0px;

}

.content_area
{
	min-height: 100%;
	width: 960px;
	margin-left:200px;
	margin-bottom: 90px;

}



